# Ignorar node_modules em qualquer nível
node_modules/
**/node_modules/

# Diretórios de build e saída
dist/
build/
coverage/
.serverless/

# Arquivos de configuração e pacotes específicos
.npmrc
.yarnrc
package-lock.json
yarn.lock
pnpm-lock.yaml

# Configurações de IDEs e editores
.idea/
.vscode/

# Arquivos temporários do sistema
*.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de manifesto e configuração do projeto
manifest.json

# Arquivos gerados por testes
jest/
